#div1{
    background-color: #ca5151;
height: 100px;
width:1500px;}

    #div2{
        background-color: #ca5179;
        height: 100px;
        width:1500px;}

        #div3{
            background-color: rgb(81, 202, 93);
            height: 100px;
            width:1500px; } 

#div4{
    background-color: #51c2ca;
    height: 100px;
    width:1500px;}